@charset "UTF-8";
header {
  background-image: url("../../public/images/banner11.jpg");
  background-repeat: no repeat;
  background-size: cover;
  width: 100%;
}

.navv {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}
.navv a {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bor {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  text-align: center;
}

.font-text {
  font-family: "Courgette", cursive;
  align-content: center;
  justify-content: center;
  margin-bottom: 80px;
}

.butt {
  margin-left: 550px;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 150px;
}

.bottom_img {
  width: 100%;
  background-repeat: repeat-x;
  border: none;
}

.meet_our_chef {
  background-color: black;
  color: white;
  font-family: "Courgette", cursive;
  height: 600px;
}

.titre {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.droite, .gauche {
  margin-left: 65px;
}

.our_contact {
  background-image: url("../../public/images/main_bg.jpg");
  height: 600px;
}

.titre {
  font-family: "Courgette", cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.form {
  padding-top: 20px;
  text-align: center;
  color: white;
  align-items: center;
  width: 380px;
  height: 280px;
  border-radius: 20px;
  margin-left: 520px;
}

.testimonials {
  height: 450px;
  background-image: url("../../public/images/testimonials_background.jpg");
  color: white;
}

.titre {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Courgette", cursive;
}

.card_space {
  justify-content: space-evenly;
}

.encard {
  border: 1px solid #c0bcbc;
  padding: 14px;
  height: 170px;
  border-radius: 10px;
  width: 330px;
  font-size: 80%;
}

footer {
  background-image: url("../../public/images/footer_background.jpg");
  padding-top: 50px;
}
footer .div_div {
  color: white;
}
footer .textee {
  font-size: 90%;
}
footer .logo {
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 100px;
}
footer .dernière {
  margin-top: 20px;
  background-color: #b12a3a;
  width: 2100px;
  height: 80px;
}
footer h2 {
  margin-bottom: 30px;
}
footer .but {
  display: inline-flex;
  margin: 3px;
}

.storymenu {
  background-image: url("../../public/images/main_bg.jpg");
  height: 1100px;
  margin: 0px;
}
.storymenu .texte_début {
  width: 600px;
  align-items: center;
  margin-left: 400px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}
.storymenu .box {
  border: 1px solid #c2c2c2;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #ffffff;
}
.storymenu .gauche {
  text-align: center;
  align-items: center;
  margin: 10px;
  font-family: "Courgette", cursive;
}
.storymenu .liste {
  display: flex;
}
.storymenu .centre {
  text-align: left;
}

.titre {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Courgette", cursive;
}

/*# sourceMappingURL=style.css.map */
