.storymenu
    background-image: url("../../public/images/main_bg.jpg")
    height: 1000px
    margin: 0px
    p
        width: 600px
        align-items: center
        margin-left: 400px
        padding: 20px
        text-align: center
        background-color: #FFFFFF
    .box
        border: 1px solid black 
        margin-left: 30px
        margin-right: 30px
        background-color: #ffffff

.titre
    align-items: center
    justify-content: center
    text-align: center
    font-family: 'Courgette', cursive
   
    

